FROM openjdk:17-jdk

COPY OpenJDK-server.jar server.jar

ENV MYSQL_HOST_ADDRESS [DB_HOST_ADDRESS]
ENV MYSQL_DATABASE_ID [DB_USER_ID]
ENV MYSQL_DATABASE_PW [DB_USER_PW]
ENV MYSQL_ADMINISTRATOR [DB_ADMIN_ID]

EXPOSE 00000
ENTRYPOINT [ "java", "-jar", "/server.jar" ]